@import "tailwindcss";

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

:root {
  --background: #ffffff;
  --backdrop: #e5e5e5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --backdrop: #121212;
    --foreground: #ededed;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-backdrop: var(--backdrop);
  --color-foreground: var(--foreground);

  /* base fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* branding fonts */
  --font-bernoru: var(--font-bernoru);
  --font-conchin: var(--font-conchin);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, Arial, Helvetica, sans-serif;
}


button {
  cursor: pointer;
}

@layer utilities {
  /* chrome based */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* firefox */
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 10px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #505050;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #303030;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}